body {
  font-family: 'Overpass Mono', monospace;
  margin: 0px;
  background-color: black;
  color: white;
  font-weight: 300;
}

header {
	background-color: #000;
	color: white;
	letter-spacing: 1.5px;
	margin-top: -16px;


}

.navbar {
	height: 75px;
    padding-left: 15px;
    padding-right: 15px;
}

/*.navbar.sticky {
	position: fixed;
}*/

.nav-primary_logo {
	float: left;
    padding: 25px 0 22px;
    padding-left: 29px;

}

.tube {
    padding: 24px 0 22px;
    margin-left: 149px;


}

.tube-box {
    font-size: 12px;
    background-color: white;
    color: black;
    padding: 7px;
    font-weight: 700;
}

ul {
	display: block;
    list-style-type: none;
    padding: 0px;
}

h1 {
	font-size: 60px;
    line-height: 65px;
    font-weight: 300;
}

.contain {
	object-fit: contain;
	width: 480px;
}

.sticky {
	position: sticky; 
	top:0px
}

.js-query {
	border: 1px solid #7F7F7F;
    background-color: black;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    height: 43px;
    width: 40%;
    min-width: 210px;
    max-width: calc(100% - 14px);
    padding: 5px 5px 5px 15px;
    margin-bottom: 14px;
    border-radius: 0;
    color: #ffffff;
    font-size: 14px;
    line-height: 30px;
    outline: none;
    font-family:  'Overpass Mono', monospace;
}

.js-query:focus {
	    border: 1px solid white;
	    transform: 
	}

button {

	vertical-align: bottom;
	outline: none;
    font-weight: 400;
    font-style: normal;
  	background-color: #000;
    border-color: #fff;
    color: #fff;
    align-items: center;
    height: 43px;
    padding-right: 16px;
    padding-bottom: 1px;
    padding-left: 16px;
    margin-bottom: 14px;
    border-radius: 0;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: -webkit-box-shadow .17s,-webkit-transform .17s;
    transition: -webkit-box-shadow .17s,-webkit-transform .17s;
    transition: box-shadow .17s,transform .17s;
    transition: box-shadow .17s,transform .17s,-webkit-box-shadow .17s,-webkit-transform .17s;
}

button:hover {
	box-shadow: 3px 3px 0 #fff;
	transform: translate(-3px,-3px);
}


